In [8]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
chunks = []
with open("output.txt", "r", encoding="utf-8") as file:
    for line in file:
        chunks.append(line.strip())

df = pd.DataFrame({"chunk": chunks})

In [10]:
df

                                                  chunk
0     Prelims Quick Revision 2022 Part - 1 (June 21 ...
1
2     range is also known as Dattagiri Hill Range, a...
3
4     after that flags were hoisted at several place...
...                                                 ...
6749
6750  covers the land area of the nation of Japan. T...
6751
6752  including countries like Anguilla, Bermuda. th...
6753

[6754 rows x 1 columns]

In [11]:
# Function to preprocess text
def preprocess_text(text):
    # Lowercase the text
    text = text.lower()
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Tokenize the text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    # Join tokens back into text
    preprocessed_text = ' '.join(filtered_tokens)
    return preprocessed_text

# Function to count words
def count_words(text):
    # Tokenize the text
    tokens = word_tokenize(text)
    # Count the number of tokens
    return len(tokens)

In [13]:
df["preprocessed_chunk"] = df["chunk"].apply(preprocess_text)
df["word_count"] = df["preprocessed_chunk"].apply(count_words)

In [14]:
df

,chunk,preprocessed_chunk,word_count
0,Prelims Quick Revision 2022 Part - 1 (June 21 ...,prelims quick revision 2022 part 1 june 21 dec...,203
1,,,0
2,"range is also known as Dattagiri Hill Range, a...",range also known dattagiri hill range shrine b...,160
3,,,0
4,after that flags were hoisted at several place...,flags hoisted several places across country ca...,149
...,...,...,...
6749,,,0
6750,covers the land area of the nation of Japan. T...,covers land area nation japan notable endemic ...,167
6751,,,0
6752,"including countries like Anguilla, Bermuda. th...",including countries like anguilla bermuda cari...,77
6753,,,0

In [15]:
df = df[df["word_count"] != 0]

df.reset_index(drop=True, inplace=True)

In [16]:
df

,chunk,preprocessed_chunk,word_count
0,Prelims Quick Revision 2022 Part - 1 (June 21 ...,prelims quick revision 2022 part 1 june 21 dec...,203
1,"range is also known as Dattagiri Hill Range, a...",range also known dattagiri hill range shrine b...,160
2,after that flags were hoisted at several place...,flags hoisted several places across country ca...,149
3,BC. Adarsh Smarak Scheme ● Monuments at Nagarj...,bc adarsh smarak scheme monuments nagarjunakon...,145
4,is another school of thought that believes tha...,another school thought believes temple built s...,147
...,...,...,...
3372,Major Straits of the World 01 Yucatan Strait I...,major straits world 01 yucatan strait separate...,149
3373,to the East China Sea to the north. 08 Tsushim...,east china sea north 08 tsushima strait channe...,146
3374,the Chukchi Sea of the Arctic Ocean. Major Bio...,chukchi sea arctic ocean major biodiversity ho...,171
3375,covers the land area of the nation of Japan. T...,covers land area nation japan notable endemic ...,167
3376,"including countries like Anguilla, Bermuda. th...",including countries like anguilla bermuda cari...,77